<template>
  <div class="locales flex">
    <span
      innerhtml.bind="SVGManager.language"
      click.trigger="showLocale = !showLocale"
      class="flex hoverable hover--fill-green"
    ></span>
    <ul if.bind="showLocale" class="shadow">
      <li
        class="hoverable"
        repeat.for="locale of locales"
        css="text-decoration: ${locale.code === currentLocale ? 'underline' : 'none'}"
        click.trigger="setLocale(locale)"
      >
        ${locale.title}
      </li>
    </ul>
  </div>
</template>
