<template>
  <div
    class="locales flex flex--direction-cols hoverable hover--fill-green"
    click.trigger="showLocale = !showLocale"
  >
    <div
      class="flex flex--align-center-v flex--justify-between hoverable hover--fill-green"
    >
      <button
        class="background-none text-center small-font height-40 flex flex--align-center-v svg-white mr-10 width-svg-20 height-svg-20"
        innerhtml.bind="SVGManager.language"
      ></button>
      Select Language
    </div>

    <!-- 
    <div class="flex flex--align-center-v">
      <span
        innerhtml.bind="SVGManager.language"
        class="flex hoverable svg-white mr-10 width-svg-20 height-svg-20"
      ></span>
      Select Language
    </div> -->

    <ul if.bind="showLocale" class="shadow">
      <li
        class="hoverable flex flex--align-center-v"
        repeat.for="locale of locales"
        css="text-decoration: ${locale.code === currentLocale ? 'underline' : 'none'}"
        click.trigger="setLocale(locale, $event)"
      >
        <div
          innerhtml.bind="SVGManager.rightCarret"
          class="svg-white width-20 height-20"
        ></div>
        ${locale.title}
      </li>
    </ul>
  </div>
</template>
