<template>
  <div
    class="locales flex hoverable hover--fill-green"
    click.trigger="showLocale = !showLocale"
  >
    <div class="flex flex--align-center-v">
      <span
        innerhtml.bind="SVGManager.language"
        class="flex hoverable svg-white mr-10"
      ></span>
      Select Language
    </div>

    <ul if.bind="showLocale" class="shadow">
      <li
        class="hoverable"
        repeat.for="locale of locales"
        css="text-decoration: ${locale.code === currentLocale ? 'underline' : 'none'}"
        click.trigger="setLocale(locale, $event)"
      >
        ${locale.title}
      </li>
    </ul>
  </div>
</template>
