.category-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background: #fff;;

  .category__item {
    padding: 100px 0;
    width: 25%;
    text-align: center;
  }
}
