/*------------------------------------*\
  #GLOBAL REUSABLE STYLES
\*------------------------------------*/


body {
  color: var(--gray);
}

a {
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
}

button {
  outline: none;
  border: 0;
  background: rgba(0, 0, 0, 0);
}

button:disabled {
  color: var(--light-gray);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input {
  padding: 0 5px;
  line-height: 24px;
  font-size: var(--tiny);
}

.wrapper {
  width: 1000px;
  margin: auto;
}

.small-wrapper {
  width: 500px;
  margin: auto;
}

.container {
  padding: 20px 30px;
}

.small-container {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 10px;
}

.rounded {
  border-radius: 5px;
}

.rounded-full {
  border-radius: 100%;
}

.hoverable {
  cursor: pointer;
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.underlined {
  text-decoration: underline;;
}

.h-centered {
  align-self: center;
}

.borderless {
  border: 0;
}

.pull-right {
  float: right;
}

.hidden {
  display: none!important;
}

.spaced-1 {
  letter-spacing: 1px;
}

.spaced-2 {
  letter-spacing: 2px;
}

.full-width {
  width: 100%;
}

.content {
  width: 60%;
  margin: auto;
}

.spacer {
  &.big {
    height: 100px;
  }
}

.flex {
  display: flex;
}

.row {
  width: 100%;
  padding: 0 0 10px 0;
}