.widgetpanel {
  display: flex;
  justify-content: space-between; 
  
}

.widgetpanel svg{
  height: 20px;
  width: 20px;
}

.wwbox{
  border: 3px solid #323232;
  width: 300px;
  border-radius: 10px;
  height: 150px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.container2 {

  justify-content: space-between;
  padding: 20px 30px;
  display: flex;

}

.white-text2 {
  color: #fff;
  margin: 0;
 
}


