.widgetpanel {
  display: flex;
  justify-content: space-between; 
}


.wwbox{
  border: 3px solid #323232;
  width: 300px;
  border-radius: 10px;
  height: 150px;
  color: #13a89e;
  padding-left: 10px;
  padding-right: 10px;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.white-text2 {
  color: #13a89e;
  margin: 0;
}


