<template>
  <nav class="settings-menu">
    <div class="icon hoverable" click.trigger="showMenu()">
      <img if.bind="dataStore.user.image" src.bind="dataStore.user.image" />
      <div
        if.bind="!dataStore.user.image"
        class="svg-grey"
        innerhtml.bind="SVGManager.user"
      ></div>
    </div>

    <nav class="menu" if.bind="isOpen">
      <ul class="">
        <li
          class="flex flex--justify-between flex--align-center-v closable hoverable"
        >
          <div class="icon">
            <img
              if.bind="dataStore.user.image"
              src.bind="dataStore.user.image"
            />
            <div
              if.bind="!dataStore.user.image"
              class="svg-grey"
              innerhtml.bind="SVGManager.user"
            ></div>
          </div>
          <div
            innerhtml.bind="SVGManager.ban"
            class="svg-white close"
            click.trigger="closeMenu()"
          ></div>
        </li>
        <li
          class="flex flex--align-center-v flex--justify-between hoverable hover--fill-green"
        >
          <div class="flex flex--align-center-v">
            <language-selector></language-selector>
          </div>
          <div
            id="carret"
            innerhtml.bind="SVGManager.rightCarret"
            class="svg-white width-20 height-20"
          ></div>
        </li>
        <li
          if.bind="isAuthenticated"
          class="flex flex--align-center-v flex--justify-between hoverable hover--fill-green"
          click.trigger="navToProfile()"
        >
          <div class="flex flex--align-center-v">
            <button
              class="background-none text-center small-font height-40 flex flex--align-center-v svg-white mr-10"
              click.trigger="navToSettings()"
              innerhtml.bind="SVGManager.user"
            ></button>
            Your Profile
          </div>
          <div
            id="carret"
            innerhtml.bind="SVGManager.rightCarret"
            class="svg-white width-20 height-20"
          ></div>
        </li>
        <li
          if.bind="isAuthenticated"
          class="flex flex--align-center-v flex--justify-between hoverable hover--fill-green"
        >
          <div class="flex flex--align-center-v">
            <button
              class="background-none text-center small-font height-40 flex flex--align-center-v svg-white mr-10"
              click.trigger="navToSettings()"
              innerhtml.bind="SVGManager.cogWheel"
            ></button>
            Settings
          </div>
          <div
            id="carret"
            innerhtml.bind="SVGManager.rightCarret"
            class="svg-white width-20 height-20"
          ></div>
        </li>
        <li
          if.bind="isAuthenticated"
          class="flex flex--align-center-v flex--justify-between hoverable hover--fill-green"
          click.trigger="logout()"
        >
          <div class="flex flex--align-center-v">
            <button
              class="background-none text-center small-font height-40 flex flex--align-center-v svg-white mr-10"
              innerhtml.bind="SVGManager.power"
            ></button>
            Logout
          </div>
          <div
            id="carret"
            innerhtml.bind="SVGManager.rightCarret"
            class="svg-white width-20 height-20"
          ></div>
        </li>
      </ul>
    </nav>
  </nav>
</template>
