<template>
  <nav class="settings-menu">
    <div class="icon hoverable" click.trigger="showMenu()">
      <img if.bind="dataStore.user.image" src.bind="dataStore.user.image" />
      <div
        if.bind="!dataStore.user.image"
        class="svg-grey"
        innerhtml.bind="SVGManager.user"
      ></div>
    </div>

    <nav class="menu" if.bind="isOpen">
      <ul class="">
        <li class="flex flex--justify-between flex--align-center-v closable">
          <div class="icon">
            <img
              if.bind="dataStore.user.image"
              src.bind="dataStore.user.image"
            />
            <div
              if.bind="!dataStore.user.image"
              class="svg-grey"
              innerhtml.bind="SVGManager.user"
            ></div>
          </div>
          <div
            innerhtml.bind="SVGManager.ban"
            class="svg-white close"
            click.trigger="closeMenu()"
          ></div>
        </li>
        <li class="flex">
          <language-selector></language-selector>
        </li>
        <li if.bind="isAuthenticated" class="flex">
          <button
            class="background-none hover--fill-green text-center hoverable small-font height-40 flex flex--align-center-v svg-white mr-10"
            click.trigger="showSettingsMenu()"
            innerhtml.bind="SVGManager.cogWheel"
          ></button
          >Settings
        </li>
        <li if.bind="isAuthenticated" class="flex">
          <button
            class="background-none hover--fill-white text-center hoverable small-font height-40 flex flex--align-center-v svg-white mr-10"
            click.trigger="logout()"
            innerhtml.bind="SVGManager.power"
          ></button
          >Logout
        </li>
      </ul>
    </nav>
  </nav>
</template>
