html,
body {
  // background: #073f63;
  background: rgb(19, 168, 158);
  background: radial-gradient(
    circle,
    rgba(19, 168, 158, 1) 0%,
    rgba(63, 63, 64, 1) 100%
  );
  color: var(--gray);
  padding: 0;
  margin: 0;
}

button {
  background-color: rgb(172, 172, 172) !important;
  padding: 5px 10px;
}
.nav {
  margin: 0;
  padding: 0;
  height: 40px;

  li {
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);

    &:hover {
      border-top: 1px solid var(--blue);
      border-bottom: 1px solid var(--blue);
      background-color: #292a2d;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.locales {
  position: relative;

  ul {
    padding: 10px 20px;
    width: 100%;

    li:hover {
      color: #545454;
    }
  }
}

.text {
  &-bold {
    font-weight: bold;
  }

  &-center {
    text-align: center;
  }
}

.button {
  &-icon {
    svg {
      height: 12px;
      width: 12px;
    }
  }
}

.icon {
  &-white {
    svg {
      fill: white;
    }
  }
}
