html, body {
  background: rgb(38, 38, 38);
  color: rgb(172, 172, 172)!important;
}

button {
  background-color: rgb(172, 172, 172)!important;
  padding: 5px 10px;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  margin:0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}