html, body {
  background: #073f63;
  color: black!important;
}

button {
  background-color: rgb(172, 172, 172)!important;
  padding: 5px 10px;
}
.nav > li {
  display: inline-block;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  margin:0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.locales {
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    padding: 10px 20px;
    border-radius: 10px 0 10px 10px;

    li:hover {
      color: #545454;
    }
  }
}