body {
  padding: 0;
  margin: 0;
}

ul {
  margin:0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reg-roles {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}