
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.reg-roles {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80px;
    width: calc(50% - 20px);
    padding: 10px;

    &:hover {
      background: rgba(0, 0, 0, 0.02);
    }

    &.selected {
      width: calc(50% - 23px);
      height: 77px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

}
